@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

    html,
    body {
        width: 100%;
        height: 100%;

        .header {
            .row {
                width: 100%;
                .column {
                    width: 50%;
                    .circle {
                        width: 75px;
                        height: 75px;
                        border-radius: 50%;
                        background-color: rgb(183, 255, 75);
                        margin-top: -30px;
                        h3.heading3 {
                            text-align: center;
                            line-height: 75px;
                        }
                    }
                    h3.heading3 {
                        font-size: 20px;
                        font-weight: 600;
                    }
                    ul {
                        padding-left: 30px;
                        li {
                            list-style: none;
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 30px;
                        }
                        li.concepts {
                            color: rgb(101, 158, 15);
                        }
                    }
                }
            }
        }

        .img-section {
            .row {
                display: flex;
                flex-wrap: wrap;
                padding: 0 4px;

                .column {
                    flex: 25%;
                    max-width: 33.3%;
                    padding: 0 4px;
                    .imgs {
                        position: relative;
                        img {
                            margin-top: 8px;
                            vertical-align: middle;
                            width: 100%;
                            // filter: grayscale(1) brightness(0.5);
                            border-radius: 5px;
                        }
                        .img_overlay {
                            position: absolute;
                            left: 0;
                            top: 1px;
                            bottom: -8px;
                            width: 100%;
                            height: auto;
                            border-radius: 5px;
                            margin: 8px 0;
                            background-color: rgba(183, 255, 75, 0.438);
                            transition: 0.3s linear;
                            opacity: 0;
                            .img_title {
                                width: 100%;
                                h2 {
                                    font-size: 15px;
                                    font-weight: 500;
                                    width: 100%;
                                    line-height: 100% !important;
                                    text-align: center;
                                    color: #fff;
                                    position: absolute;
                                    top: 50%;
                                }
                            }
                        }
                        .img_overlay:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
                @media (max-width: 800px) {
                    .column {
                        flex: 50%;
                        max-width: 50%;
                    }
                }
                @media (max-width: 600px) {
                    .column {
                        flex: 100%;
                        max-width: 100%;
                        img {
                            filter: grayscale(0) brightness(1);
                        }
                    }
                }
            }
        }
        .footer {
            .row {
                .column {
                    width: 50%;
                    padding: 0 15px;
                    span {
                        font-size: 15px;
                        font-weight: 500;
                    }
                    ul li {
                        width: 30px;
                        height: 20px;
                        line-height: 17px;
                        display: inline-flex;
                        float: right;
                        span {
                            font-size: 17px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
        .pop_up {
            width: 100%;
            height: 93rem;
            background: rgba(0, 0, 0, 0.8);
            position: absolute;
            top: 20%;
            z-index: 1;
            padding: 20% 0;
            displa: none;
            .navbar {
                background-color: rgba(123, 192, 20, 0.74);
                height: 70px;
                h1 {
                    color: #fff;
                    font-size: 30px;
                    font-weight: 400;
                    line-height: 60px;
                    span {
                        float: right;
                        font-size: 35px;
                        font-weight: 300;
                        line-height: 60px;
                        cursor: pointer;
                    }
                }
            }
            .btn_popup {
                span.prev_btn {
                    i {
                        padding: 0 10px;
                    }
                }
                span.next_btn {
                    float: right;
                    i {
                        padding: 0 10px;
                        line-height: 26px;
                        float: right;
                    }
                }
            }
            @media (max-width: 440px) {
                .btn_popup {
                    span a {
                        display: none;
                    }
                    span i {
                        font-size: 18px;
                    }
                }
            }
            .popup_img {
                width: 92%;
                height: 100%;
                margin: 0 auto;
                img {
                    width: 100%;
                    height: 350px;
                }
                .img-content {
                    width: 100%;
                    margin: 20px 0;
                    border: none;
                    border-bottom: 2px solid rgba(128, 128, 128, 0.404);
                    .left-content {
                        width: 50%;
                        .para {
                            text-align: justify;
                        }
                    }
                    .right-content {
                        width: 45%;
                    }
                }
            }
            .swiper-img {
                .heading3 {
                    font-size: 25px;
                    font-weight: 400;
                    padding: 10px 40px;
                }
                .swiper-container {
                    width: 92%;
                    height: 100%;
                    position: relative;
                    .swiper-slide {
                        text-align: center;
                        font-size: 18px;
                        background: #fff;
                        display: flex !important;
                        justify-content: center;
                        align-items: center;
                        height: 220px;
                        img {
                            display: block;
                            width: 100%;
                            height: 100%;
                            background-position: center;
                            background-size: cover;
                            object-fit: cover;
                            cursor: pointer;
                        }
                        .img_overlay {
                            position: absolute;
                            left: 0;
                            top: -9px;
                            bottom: -8px;
                            width: 100%;
                            height: auto;
                            border-radius: 5px;
                            margin: 8px 0;
                            background-color: rgba(183, 255, 75, 0.438);
                            transition: 0.3s linear;
                            opacity: 0;
                            .img_title {
                                width: 100%;
                                h2 {
                                    font-size: 15px;
                                    font-weight: 500;
                                    width: 100%;
                                    line-height: 100% !important;
                                    text-align: center;
                                    color: #fff;
                                    position: absolute;
                                    top: 50%;
                                }
                            }
                        }
                        .img_overlay:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                        .swiper-button-next {
                            position: absolute;
                            right: 0;
                            top: 50%;
                            i {
                                font-size: 50px;
                            }
                        }
                        .swiper-button-prev {
                            position: absolute;
                            left: 0;
                            top: 50%;
                        }
                    }
                }
                div.close-btn {
                    background-color: #9bce50;
                    width: 92%;
                    .heading1 {
                        font-size: 25px;
                        font-weight: 400;
                        line-height: 60px;
                        cursor: pointer;
                    }
                }
            }
        }
        @media (max-width: 768px) {
            .pop_up {
                height: 683rem;
            }
        }
    }
}
